/* layout */

* {
    padding: 0;
    margin: 0;
    border: 0;
}

#my-container {
    height: 100vh;
    background-color: azure; /* temp */
}

.my-top-row {
    height: 12vh;
    background-color: azure; /* temp */
    padding: 0;
}

.my-mid-row-left {
    background-color: azure; /* temp */
    height: 76vh;
    margin-top: 12vh;
    padding: 0;
}

.my-mid-row-right {
    background-color: lightsalmon; /* temp */
    margin-top: 12vh;
    height: 76vh;
    padding: 0;
}

@media only screen and (min-width: 992px) {
    .my-mid-row-right {
        height: 100vh;
        margin-top: 0;
        z-index: 1;    
    }
}

.my-btm-row {
    height: 12vh;
    background-color: azure; /* temp */
    padding: 0;
}

.fixed-top, .fixed-bottom {
    margin: 0;
}

/* header - top row*/

#logo {
    font-weight: bold;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 991px) {
    #logo {
        display: flex;
        justify-content: start;
        align-items: center;
    }
}

/* navigation - lg (sidebar) */

.my-mid-row-left ul {     
    margin: 0;
    padding: 0;
    list-style-type: none;

    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.my-mid-row-left a {
    text-decoration: none;
    color: black;
}

.my-mid-row-left a:hover {
    text-decoration: underline;
    color: black;
}

/* navigation - md (inline navbar) */

.nav {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
}

/* navigation - xs-md (hamburger) */
/* code for the following was found on - https://www.w3schools.com/css/css_dropdowns.asp and edited accordingly */
.dropdown-small {
    position: relative;
}

.dropdown-content-small {
    display: none;
    position: fixed;
    top: 12vh;
    width: 100%;
    z-index: 1;
    left: 0;
    background-color: azure;
}

.dropdown-content-small ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

.dropdown-small:hover .dropdown-content-small {
    display: block;
}

#hamburger {
    height: 100%;
    font-size: xx-large;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */

#social {
    text-align: center;
    height: 75%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 50%;
    margin: 0 20px;
}

#copyright {
    height: 25%;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}